<component name="libraryTable">
  <library name="mybatis-guice-3.3">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../repositories/mybatis-guice-3.3/mybatis-guice-3.3.jar!/" />
      <root url="jar://$PROJECT_DIR$/../repositories/mybatis-guice-3.3/lib/guava-r08.jar!/" />
    </CLASSES>
    <JAVADOC>
      <root url="jar://$PROJECT_DIR$/../repositories/mybatis-guice-3.3/mybatis-guice-3.3-javadoc.jar!/" />
    </JAVADOC>
    <SOURCES>
      <root url="jar://$PROJECT_DIR$/../repositories/mybatis-guice-3.3/mybatis-guice-3.3-sources.jar!/" />
    </SOURCES>
  </library>
</component>