#refreshPlaylists {
	-fx-graphic:url("images/refresh.png");
}

#removeAccount, #removeTemplate, #removeUpload {
	-fx-graphic:url("images/delete.png");
}

#addUpload, #addAccount {
	-fx-graphic:url("images/add.png");
}

#openFiles, #openDefaultdir, #openEnddir{
	-fx-graphic: url("images/folder_explore.png");
}

#resetUpload, #resetAccount, #abortUpload {
	-fx-graphic: url("images/cancel.png");
}

#saveTemplate{
	-fx-graphic: url("images/save.png");
}

#editUpload{
	-fx-graphic: url("images/pencil.png");
}

#uploadTop{
	-fx-graphic: url("images/arrow-double-up.png");
}

#uploadUp{
	-fx-graphic: url("images/arrow_up.png");
}

#uploadDown{
	-fx-graphic: url("images/arrow_down.png");
}

#uploadBottom{
	-fx-graphic: url("images/arrow-double-down.png");
}

#pauseOnFinishQueue{
	-fx-graphic: url("images/time_delete.png");
}

#grid{
	-fx-hgap: 5px;
	-fx-vgap: 5px;
	-fx-padding: 5px 5px 5px 5px;
}

#validation_error{
	-fx-padding: 5px;
	-fx-text-fill: rgb(255,128,128);
	-fx-graphic: url("images/cancel.png");
}

#validation_passed{
	-fx-padding: 5px;
	-fx-text-fill: rgb(0,128,192);
	-fx-graphic: url("images/information.png");
}