#refreshPlaylists {
	-fx-graphic:url("images/refresh.png");
}

#removeAccount, #removePreset, #removeQueue {
	-fx-graphic:url("images/delete.png");
}

#addUpload, #addAccount {
	-fx-graphic:url("images/add.png");
}

#openFiles, #openDefaultdir, #openEnddir{
	-fx-graphic: url("images/folder_explore.png");
}

#resetUpload, #resetAccount, #abortQueue {
	-fx-graphic: url("images/cancel.png");
}

#savePreset{
	-fx-graphic: url("images/save.png");
}

#editQueue{
	-fx-graphic: url("images/pencil.png");
}

#queueTop{
	-fx-graphic: url("images/arrow-double-up.png");
}

#queueUp{
	-fx-graphic: url("images/arrow_up.png");
}

#queueDown{
	-fx-graphic: url("images/arrow_down.png");
}

#queueBottom{
	-fx-graphic: url("images/arrow-double-down.png");
}

#grid{
	-fx-hgap: 5px;
	-fx-vgap: 5px;
}

#validation_error{
	-fx-padding: 5px;
	-fx-text-fill: rgb(255,128,128);
	-fx-graphic: url("images/cancel.png");
}

#validation_passed{
	-fx-padding: 5px;
	-fx-text-fill: rgb(0,128,192);
	-fx-graphic: url("images/information.png");
}