<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2012 Dennis Fischer.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the GNU Public License v3.0
  which accompanies this distribution, and is available at
  http://www.gnu.org/licenses/gpl.html
  
  Contributors:
      Dennis Fischer
-->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases><typeAlias alias="Preset" type="org.chaosfisch.youtubeuploader.models.Preset" /><typeAlias alias="Placeholder" type="org.chaosfisch.youtubeuploader.models.Placeholder" /><typeAlias alias="Account" type="org.chaosfisch.youtubeuploader.models.Account" /><typeAlias alias="Queue" type="org.chaosfisch.youtubeuploader.models.Queue" /><typeAlias alias="Playlist" type="org.chaosfisch.youtubeuploader.models.Playlist" /><typeAlias alias="Directory" type="org.chaosfisch.youtubeuploader.models.Directory" /><typeAlias alias="Message" type="org.chaosfisch.youtubeuploader.models.Message" /></typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="UNPOOLED">
				<property name="driver" value="org.hsqldb.jdbc.JDBCDriver"/>
				<property name="url"
						  value="jdbc:hsqldb:file:${user.home}/SimpleJavaYoutubeUploader/db/youtubeuploader.db;encoding=UTF-8;crypt_key=604a6105889da65326bf35790a923932;crypt_type=blowfish;"/>
				<property name="username" value="sa"/>
				<property name="password" value=""/>
			</dataSource>
		</environment>
	</environments>
	<mappers><mapper resource="org/chaosfisch/youtubeuploader/dao/mappers/preset.xml" /><mapper resource="org/chaosfisch/youtubeuploader/dao/mappers/playlist.xml" /><mapper resource="org/chaosfisch/youtubeuploader/dao/mappers/account.xml" /><mapper resource="org/chaosfisch/youtubeuploader/dao/mappers/placeholder.xml" /><mapper resource="org/chaosfisch/youtubeuploader/dao/mappers/queue.xml" /><mapper resource="org/chaosfisch/youtubeuploader/dao/mappers/directory.xml" /><mapper resource="org/chaosfisch/youtubeuploader/dao/mappers/message.xml" /></mappers>
</configuration>
