<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="ch.qos.logback.classic.html.HTMLLayout">
				<pattern>%relative%thread%mdc%level%logger%msg</pattern>
			</layout>
		</encoder>
		<file>${user.home}/SimpleJavaYoutubeUploader/applog.html</file>
	</appender>
	<appender name="FILE2" class="ch.qos.logback.core.FileAppender">
		<file>${user.home}/SimpleJavaYoutubeUploader/applog.xml</file>
		<append>false</append>
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="ch.qos.logback.classic.log4j.XMLLayout">
				<locationInfo>true</locationInfo>
			</layout>
		</encoder>
	</appender>
	<root level="debug">
		<appender-ref ref="FILE" />
		<appender-ref ref="FILE2" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>